<ul>
  <li *ngFor="let language of languageList">
    <a href="/{{language.code}}/">
      {{language.label}}
    </a>
  </li>
</ul>

<h2 i18n="main header|Another message">Just Welcome</h2>
<h2 i18n="main header1|Another message@@welcome1">Welcomes You</h2>
<h2 i18n="CorporateBankPortal|Account Number while doing the fund transfer@@fundsTransfer">FundsTransfer</h2>
<h2 i18n="main header2|Another message@@welcome2">Welcomes All!</h2>
<abbr i18n i18n-title title="European Organization for Nuclear Research">CERN</abbr>

<ng-container i18n>No element will be created, only a text!</ng-container>

<p i18n>{newMessages, plural,
    =0 {no messages}
    =1 {one message}
    few {{{newMessages}} messages}
    other {{{newMessages}} messages}}</p>
<hr>
<input [(ngModel)]="title" placeholder="name"> {{title}}
<input [(ngModel)]="newMessages" placeholder="name"> {{newMessages}}
